body {
    font-family: 'Helvetica Neue', sans-serif;
    height: 100%!important;
    width: 100%!important;
    margin: 0;
    background-color: rgba(22,27,49,0.2);
}
*::selection {
    background: transparent;
}
#titlebar{
    position: absolute;
    z-index: 100;
    height: 22px;
    width: 100%;
    top: 0;
}
.draggable {
    -webkit-app-region: drag;
}
#splash {
    /*background: white;*/
    z-index: 22;
}
.screen {
    position: absolute!important;
    height: 100%!important;
    width: 100%!important;
    /*background: white;*/
}
.login_logo {
    background: linear-gradient(135deg, #626dff 0%,#d966b0 100%);
    -webkit-app-region: drag;
}
.login_title {
    position: relative;
    width: 100%;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
h1 {
    font-size: 50px;
    font-weight: 100;
    margin: 0;
}
h5 {
    font-weight: 300;
    white-space: nowrap;
    font-size: 16px;
    color: #ccc;
    margin: 12px;
}
.login_main {
    position: absolute;
}
.login_footer {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 5px;
    font-size: 12px;
    color: #eee;
}
#login_wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#login_button {
    color: #d04cfd;
    cursor: pointer;
}
#logo {
    position: absolute;
    width: 200px;
    height: 200px;
    background: url(img/logo.png);
    background-size: contain;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
}
@media screen and (max-width:549px) {
    .login_logo {
    height: 50%;
    width: 100%}
.login_main {
    height: 50%;
    width: 100%}
#logo {
    top: 25%}
.item-pl {
    width: 100%;
    margin: 10px 30px;
}
}@media screen and (min-width:550px) {
    .login_logo {
    position: absolute;
    height: 100%;
    width: 50%}
.login_main {
    margin-left: 50%;
    height: 100%;
    width: 50%}
#logo {
    top: 50%}
.item-pl {
    width: 150px;
    margin: 20px;
}
}.screen_header {
    height: 56px;
    position: fixed;
    z-index: 2;
    background: linear-gradient(rgba(22,27,49,0.5) 0%,transparent 100%);
    width: calc(100% - 40px);
    top: 0;
    padding: 40px 20px 20px 20px;
    user-select: none;
}
#title-pl{
  margin-left: 30px;
  max-width: calc(100% - 30px);
}
#back-btn{
  position: absolute;
  margin-top: 20px;
  cursor: pointer;
}
#back-btn>i{
    color: #d04cfd;
}
#menu-button {
    display: inline-block;
    margin: 5px;
}
.screen_title {
    display: inline-block;
    overflow: hidden;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}
.item-pl_text{
    right: 20px;
    text-align: right;
    bottom: 20px;
    display: block;
    position: absolute;
}
.item-pl_text>span{
    font-weight: 100;
}
.list-pl {
    padding-top: 142px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
}
.list {
    overflow-y: auto;
    height: calc(100% - 265px);
    padding-top: 145px;
    padding-bottom: 120px;
}
.item-pl {
    position: relative;
    padding: 30px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background: #242c46;
    height: 150px;
    transition: 0.2s;
    color: white;
    cursor: pointer;
    border-radius: 14px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
}
.item-pl:hover {
    opacity: 0.8;
}
.item-pl:active{
    opacity: 0.4;
}
.item {
    padding: 16px 32px 16px 32px;
    transition: 0.2s;
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}
.item:hover {
    background: rgba(0, 0, 0, .1);
}
.item:active {
  opacity: 0.1;
    background: rgba(0, 0, 0, .2);
    color: rgba(255, 255, 255, .9);
}
.item_icon {
    display: inline-block;
}
.item_icon>.material-icons {
    font-size: 30px;
    background: linear-gradient(135deg, #626dff 0%,#d966b0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.item_content {
    display: inline-block;
    margin-left: 12px;
    width: calc(100% - 45px);
}
.item-pl_title {
    margin: 0;
    font-weight: 100;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item_title {
    margin: 0;
    color: inherit;
    font-weight: 400;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item_subtitle {
    margin: 0;
    color: inherit;
    font-weight: 300;
    font-size: 12px;
}
#Music {
    opacity: 0;
    z-index: 19;
}
#Playlists {
    z-index: 20;
    left: 100%;
}
.-selected {
    padding: 32px;
    background: #242c46!important;
    color: white;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.4);
}
#controls {
    position: fixed;
    height: 80px;
    width: 100%;
    bottom: 0;
    background: rgba(22,27,49,0.5);
}
.sortable-chosen {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    opacity: 0.5;
    animation: shake 2s infinite;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.scrubber{
  height: 8px;
}
.progress{
  height: 8px;
  background: linear-gradient(135deg, #626dff 0%,#d966b0 100%);
  border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.loaded{
  position: absolute;
  height: 8px;
  margin-top: -8px;
  background-color: rgba(0,0,0,0.2);
  z-index: -2;
}
.play-pause{
  margin-top: 10px;
}
.play-pause> i{
  font-size: 48px;
  cursor: pointer;
  background: linear-gradient(135deg, #626dff 0%,#d966b0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.6;
  transition: 0.2s;
}
.play-pause:hover> i{
    opacity: 1;
}
.control-btn{
  font-size: 36px;
  
}
.control-btn:hover>i{
    opacity: 1;
}
.control-btn> i{
  transform: translateY(50%);
  cursor: pointer;
  background: linear-gradient(135deg, #626dff 0%,#d966b0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.6;
  transition: 0.2s;
}
.btns{
  position: absolute;
  display: flex;
  width: 96px;
  left: 50%;
  margin-left: -48px;
}
.time{
    color: rgba(255,255,255,0.8);
    padding: 10px;
    font-weight: 100;
}
.time>span{
    float: left;
}
.time>strong{
    float: right;
    font-weight: 100!important;
}