body {
  font-family: "Helvetica Neue", sans-serif;
  height: 100% !important;
  width: 100% !important;
  margin: 0;
  background-color: #fff;
  user-select: none;
}
*::selection {
  background: transparent;
}
#titlebar {
  position: absolute;
  z-index: 100;
  height: 22px;
  width: 100%;
  top: 0;
}
.draggable {
  -webkit-app-region: drag;
}
#splash {
  /*background: white;*/
  z-index: 22;
}
.screen {
  position: absolute !important;
  height: 100% !important;
  width: 100% !important;
  /*background: white;*/
}
.login_logo {
  background: linear-gradient(to bottom, rgba(54,169,245,1) 0%,rgba(21,106,217,1) 100%);
  -webkit-app-region: drag;
}
.login_title {
  position: relative;
  width: 100%;
  color: #606c76;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
h1 {
  font-size: 50px;
  font-weight: 300;
  margin: 0;
  color: black;
}
h5 {
  font-weight: 300;
  white-space: nowrap;
  font-size: 16px;
  color: #606c76;
  margin-top: 10px;
  margin-bottom: 20px;
}
.login_main {
  position: absolute;
  background: white;
}
.login_footer {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 5px;
  font-size: 12px;
  color: #eee;
}
#login_wrapper {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#login_button {
  cursor: pointer;
}
.button{
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 3pc;
  font-size: 14px;
  color: #fff;
  font-style: normal;
  background-color: #5f82a6;
  border-radius: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: .08s background-color,.08s opacity;
  cursor: pointer;
}
#logo {
  position: absolute;
  width: 150px;
  height: 150px;
  /*background: url(img/logo.png);*/
  background-size: contain;
  left: 50%;
  margin-left: -75px;
  margin-top: -75px;
}
@media screen and (max-width: 549px) {
  .login_logo {
    height: 50%;
    width: 100%;
  }
  .login_main {
    height: 50%;
    width: 100%;
  }
  #logo {
    top: 25%;
  }
  .item-pl {
    width: 100%;
    margin: 10px 30px;
  }
}
@media screen and (min-width: 550px) {
  .login_logo {
    position: absolute;
    height: 100%;
    width: 50%;
  }
  .login_main {
    margin-left: 50%;
    height: 100%;
    width: 50%;
  }
  #logo {
    top: 50%;
  }
  .item-pl {
    width: 150px;
    margin: 20px;
  }
}
.screen_header {
  height: 56px;
  position: fixed;
  z-index: 2;
  width: calc(100% - 40px);
  top: 0;
  padding: 40px 20px 20px 20px;
}
#title-pl {
  max-width: 100%;
}
#back-btn {
  position: absolute;
  margin-top: 20px;
  cursor: pointer;
}
#back-btn > i {
  color: #d04cfd;
}
#menu-button {
  display: inline-block;
  margin: 5px;
}
.hidden {
  display: none;
}
.screen_title {
  display: inline-block;
  overflow: hidden;
  color: black;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}
.item-pl_text {
  right: 20px;
  text-align: right;
  bottom: 20px;
  width: calc(100% - 20px);
  display: block;
  position: absolute;
}
.item-pl_text > span {
  font-weight: 100;
  display: block;
}
.list-pl {
  padding-top: 142px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 20px;
}
#list_cont {
  overflow-y: auto;
  height: calc(100% - 77px);
  margin-top: 77px;
}
.item-pl {
  position: relative;
  padding: 30px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background: #242c46;
  height: 150px;
  transition: 0.2s;
  color: white;
  cursor: pointer;
  border-radius: 14px;
  animation: item 1s;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.4);
}
@keyframes item {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#title,
.time {
  font-weight: 300;
}
#title::before {
  content: "- ";
}
.list {
  padding: 5px 10px;
}
span.title {
  width: calc(100% - 41px);
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 12.5px;
}
.item-pl:hover {
  opacity: 0.8;
}
.item-pl:active {
  opacity: 0.4;
}
.item {
  transition: 0.2s;
  color: #606c76;
  height: 54px;
  padding: 3px 0;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  line-height: 1.25;
  outline: none;
}
.item .cover {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 7px;
  left: 4px;
  transition: background-color 60ms linear;
  border-radius: 2px;
  background-size: cover;
  background-image: url(img/audio_row_placeholder.png);
}
.item:active {
  cursor: grabbing;
}
.item-container {
  transition: 0.2s;
  border-radius: 2px;
  height: 100%;
}
.item-buttons {
  display: inline-block;
}
.item-buttons > i {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}
.rot {
  transform: rotate(90deg);
}
.item-buttons:hover > i {
  opacity: 1;
}
.drop {
  width: 48px;
  padding: 10px;
  height: 24px;
  transform: scale(0);
  color: transparent;
  transition: 0.2s;
  float: right;
  margin-top: -60px;
  right: 18px;
  border-radius: 4px;
  position: relative;
}
.tooltiptext > .icons {
  display: inline-block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.drop.is-active {
  transform: scale(1);
  background: rgba(0, 0, 0, 0.4);
}
.drop.is-active > .icons:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -20px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip.is-active > .tooltiptext {
  visibility: visible;
}
.item:hover > .item-container {
  background-color: #f2f4f7;
}
.item_icon {
  display: inline-block;
}
.item_icon > .material-icons {
  font-size: 30px;
  color: #577ca1;
}
.item_content {
  padding-left: 54px;
  height: 40px;
  padding-top: 8px;
}
.item-pl_title {
  margin: 0;
  font-weight: 400;
  display: block;
  width: 80%;
  float: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item_title {
  font-weight: 500;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 12.5px;
  margin: 0;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item_subtitle {
  margin: 0;
  color: #939393;
  font-weight: 300;
  color: inherit;
  font-size: 12.5px;
}
#Music {
  z-index: 19;
}
#Playlists {
  z-index: 20;
  left: 100%;
}
.-selected .item-container {
  background-color: #e9edf1 !important;
}
#controls {
  position: fixed;
  background-color: #fafbfc;
  border-bottom: 1px solid #e6e7eb;
  height: 54px;
  padding-top: 22px;
  width: 100%;
  top: 0;
  z-index: 100;
}
div.audiojs > div {
  display: inline-block;
}
.sortable-chosen {
  opacity: 0.5;
  animation: shake 2s infinite;
}
@media (max-width: 400px){
  #shuffle, #loop{
    display: none;
  }
  .scrubber, .text{
    width: calc(100% - 205px)!important;
  }
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
.scrubber {
  height: 19px;
  cursor: pointer;
  position: absolute;
  width: calc(100% - 271px);
  margin-left: 10px;
  margin-top: 30px;
  margin-right: 79px;
}
.back {
  width: 100%;
  height: 2px;
  background: #eee;
  border-radius: 2px;
  margin-top: 4px;
  position: absolute;
  z-index: 0;
}
.progress {
  height: 2px;
  background: #577ca1;
  position: absolute;
  border-radius: 2px;
  margin-top: 4px;
  z-index: 3;
}
.loaded {
  height: 2px;
  margin-top: 4px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  z-index: 1;
  position: absolute;
}
.right-btns {
  float: right;
  padding: 0 10px 0 5px;
}
.play-pause {
  padding: 13px 4px 13px 14px;
  cursor: pointer;
  float: left;
  opacity: 0.9;
}
.play-pause > .icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2228%22%20height%3D%2229%22%20viewBox%3D%220%200%2028%2029%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M11.8%2019.9C11.4%2020.2%2011%2020%2011%2019.5L11%208.5C11%208%2011.4%207.8%2011.8%208.1L19.5%2013.6C19.9%2013.8%2019.8%2014.2%2019.5%2014.4L11.8%2019.9Z%22%20fill%3D%22%23FFF%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #577ca1;
}
.play-pause.play > .icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2228%22%20height%3D%2229%22%20viewBox%3D%2236%200%2028%2029%22%3E%3Cg%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M46%208.6C46%208.3%2046.3%208%2046.6%208L48.4%208C48.7%208%2049%208.3%2049%208.6L49%2019.4C49%2019.7%2048.7%2020%2048.4%2020L46.6%2020C46.3%2020%2046%2019.7%2046%2019.4L46%208.6ZM51%208.6C51%208.3%2051.3%208%2051.6%208L53.4%208C53.7%208%2054%208.3%2054%208.6L54%2019.4C54%2019.7%2053.7%2020%2053.4%2020L51.6%2020C51.3%2020%2051%2019.7%2051%2019.4L51%208.6Z%22%20fill%3D%22%23FFF%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.control-btn {
  padding: 22px 6px;
  cursor: pointer;
  opacity: 0.9;
  float: left;
  border: none;
  outline: none;
  background: none;
  margin: 0;
}
.control-btn > .icon {
  height: 10px;
  width: 9px;
  background-position: 50%;
}
#next > .icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%229%22%20height%3D%2210%22%20viewBox%3D%2259%209%209%2010%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M66%2013.05V9.5c0-.27.2-.5.5-.5h1c.27%200%20.5.23.5.5v9c0%20.27-.2.5-.5.5h-1c-.27%200-.5-.23-.5-.5v-3.55l-6.15%203.9c-.47.3-.85.1-.85-.45V9.6c0-.55.38-.75.85-.45l6.15%203.9z%22%20fill%3D%22%235E80A7%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E");
}
#prev > .icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%229%22%20height%3D%2210%22%20viewBox%3D%2240%209%209%2010%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M42%2013.05V9.5c0-.27-.2-.5-.5-.5h-1c-.27%200-.5.23-.5.5v9c0%20.27.2.5.5.5h1c.27%200%20.5-.23.5-.5v-3.55l6.15%203.9c.47.3.85.1.85-.45V9.6c0-.55-.38-.75-.85-.45L42%2013.05z%22%20fill%3D%22%235E80A7%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E");
}
.control-btn:hover > i {
  opacity: 0.6;
}
.control-btn > i {
  display: block;
  cursor: pointer;
  color: #577ca1;
  transition: 0.2s;
}
.cover {
  width: 54px;
  height: 54px;
  float: left;
  border-radius: 2px 0 0 2px;
  background-color: #f5f6f8;
  background-image: url('data:image/svg+xml;charset=utf-8,<svg%20width%3D"13px"%20height%3D"21px"%20viewBox%3D"0%200%2013%2021"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"><g%20id%3D"Page-1"%20fill%3D"none"%20fill-rule%3D"evenodd"><g%20id%3D"musicPlayerAtrwork"><g%20id%3D"Group-3"><g%20id%3D"Group-2"><g%20id%3D"artAudioPlayer"%20transform%3D"translate(-101.000000%2C%20-97.000000)%20translate(80.000000%2C%2080.000000)"><rect%20id%3D"Mask"%20width%3D"54"%20height%3D"54"%2F><path%20d%3D"M27%2C21.007484%20C27%2C20.4510659%2027.4438648%2C20%2028%2C20%20L28%2C20%20C28.5522847%2C20%2029%2C20.4489202%2029%2C21.007484%20L29%2C33.992516%20C29%2C34.5489341%2028.5561352%2C35%2028%2C35%20L28%2C35%20C27.4477153%2C35%2027%2C34.5510798%2027%2C33.992516%20L27%2C21.007484%20Z"%20id%3D"Rectangle"%20fill%3D"%23AFBAC6"%2F><path%20d%3D"M27%2C18.7122688%20C27%2C18.4325926%2027.217172%2C18.1658118%2027.4922264%2C18.1150768%20L33.5077736%2C17.0054814%20C33.7796227%2C16.9553376%2034%2C17.1453957%2034%2C17.4210866%20L34%2C20.2818361%20C34%2C20.5615123%2033.782828%2C20.8282931%2033.5077736%2C20.8790281%20L27.4922264%2C21.9886235%20C27.2203773%2C22.0387673%2027%2C21.8487092%2027%2C21.5730183%20L27%2C18.7122688%20Z"%20id%3D"Rectangle-2"%20fill%3D"%23AFBAC6"%2F><circle%20id%3D"Oval-8"%20fill%3D"%23AFBAC6"%20cx%3D"25"%20cy%3D"34"%20r%3D"4"%2F><%2Fg><%2Fg><%2Fg><%2Fg><%2Fg><%2Fsvg>');
  background-repeat: no-repeat;
  background-position: 50%;
}
.cover_back {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 7px;
  left: 4px;
  border-radius: 2px;
  transition: background-color 100ms linear;
}
.item.-selected .cover_back,
.item:hover .cover_back {
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-position: 50%;
}
.play .item.-selected:hover .cover_back {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"24"%20height%3D"24"%20viewBox%3D"0%200%2024%2024"><g%20fill%3D"none"%20fill-rule%3D"evenodd"><circle%20cx%3D"12"%20cy%3D"12"%20r%3D"12"%20fill%3D"%23FFFFFF"%2F><path%20fill%3D"%23222222"%20d%3D"M8%2C7.59559822%20C8%2C7.26665841%208.27685547%2C7%208.60709476%2C7%20L10.3929052%2C7%20C10.7281944%2C7%2011%2C7.26747584%2011%2C7.59559822%20L11%2C16.4044018%20C11%2C16.7333416%2010.7231445%2C17%2010.3929052%2C17%20L8.60709476%2C17%20C8.27180558%2C17%208%2C16.7325242%208%2C16.4044018%20L8%2C7.59559822%20Z%20M13%2C7.59559822%20C13%2C7.26665841%2013.2768555%2C7%2013.6070948%2C7%20L15.3929052%2C7%20C15.7281944%2C7%2016%2C7.26747584%2016%2C7.59559822%20L16%2C16.4044018%20C16%2C16.7333416%2015.7231445%2C17%2015.3929052%2C17%20L13.6070948%2C17%20C13.2718056%2C17%2013%2C16.7325242%2013%2C16.4044018%20L13%2C7.59559822%20Z"%2F><%2Fg><%2Fsvg>');
}
.item:hover .cover_back,
.item.-selected:hover .cover_back {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"24"%20height%3D"24"%20viewBox%3D"0%200%2024%2024"><g%20fill%3D"none"%20fill-rule%3D"evenodd"><circle%20cx%3D"12"%20cy%3D"12"%20r%3D"12"%20fill%3D"%23FFFFFF"%2F><path%20fill%3D"%23222222"%20d%3D"M9.84335571%2C16.7896383%20C9.37758321%2C17.088598%209%2C16.885726%209%2C16.3263902%20L9%2C7.6574922%20C9%2C7.10268766%209.37902442%2C6.89620947%209.84335571%2C7.19424408%20L16.733151%2C11.6165123%20C17.0561878%2C11.8238559%2017.0599966%2C12.1575817%2016.733151%2C12.3673701%20L9.84335571%2C16.7896383%20Z"%2F><%2Fg><%2Fsvg>');
}
.btns {
  display: flex;
  margin-left: 20px;
}
.text {
  margin-left: 10px;
  width: calc(100% - 271px);
  margin-top: 15px;
}
.time {
  float: right;
  color: #939393;
  padding: 0 0 0 8px;
  letter-spacing: 0.02em;
  font-size: 12.5px;
}
.time > span {
  float: left;
}
.right-btn {
  border: none;
  background: none;
  outline: none;
  box-sizing: content-box;
  cursor: pointer;
  padding: 15px 4px;
  margin: 0;
  float: left;
  position: relative;
}
.right-btn > .icon {
  width: 24px;
  height: 24px;
  background-position: 50%;
  background-repeat: no-repeat;
  -o-transition: background-position 150ms ease, opacity 60ms linear;
  transition: background-position 150ms ease, opacity 60ms linear;
  opacity: 0.7;
}
#loop > .icon {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg%20width%3D"20"%20height%3D"12"%20viewBox%3D"0%200%2020%2012"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"><g%20transform%3D"translate(-2%20-6)"%20fill%3D"none"%20fill-rule%3D"evenodd"><rect%20width%3D"24"%20height%3D"24"%20rx%3D"2"%2F><path%20d%3D"M14.002%206h3C18.656%206%2020%207.35%2020%209.006V14h-2V9.506C18%208.676%2017.326%208%2016.494%208H9v-.002C9%206.895%209.894%206%2011.003%206h3zm-1.005%2012H7c-1.657%200-3-1.35-3-3.006V10h2v4.494C6%2015.324%206.674%2016%207.506%2016H15v.002C15%2017.105%2014.106%2018%2012.997%2018zM8%2010H2l3-4%203%204zm8%204h6l-3%204-3-4z"%20fill%3D"%23828A99"%2F><%2Fg><%2Fsvg>');
}
#loop.active > .icon {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"%20width%3D"24"%20height%3D"24"%20viewBox%3D"138%202%2024%2024"><g%20fill%3D"none"><g%20fill%3D"%23356CA9"><path%20d%3D"M152%208h3c1.7%200%203%201.3%203%203v5h-2v-4.5c0-.8-.7-1.5-1.5-1.5H147c0-1.1.9-2%202-2h3zm2%208h6l-3%204-3-4zM148%2020h-3c-1.7%200-3-1.3-3-3v-5h2v4.5c0%20.8.7%201.5%201.5%201.5h7.5c0%201.1-.9%202-2%202h-3zm-2-8h-6l3-4%203%204z"%2F><%2Fg><%2Fg><%2Fsvg>');
  opacity: 0.8;
}
#shuffle > .icon {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg%20width%3D"18"%20height%3D"14"%20viewBox%3D"0%200%2018%2014"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"><g%20transform%3D"translate(-3%20-5)"%20fill%3D"none"%20fill-rule%3D"evenodd"><rect%20width%3D"24"%20height%3D"24"%20rx%3D"2"%2F><path%20d%3D"M15.99%207c-2.934%200-4.4%202.315-5.86%204.25C8.84%2012.96%207.753%2014.955%206%2015H3v2h3c2.935%200%204.237-2.59%205.698-4.527C13.01%2010.733%2014.16%209%2015.99%209H17V7h-1.01zM9.952%208.844C9.427%208.376%208.567%207.75%207.907%207.46%207.247%207.173%206.51%207%205.664%207H3v2h3c.445%200%20.81.076%201.14.217.45.193%201.142.7%201.58%201.11.125-.153.877-1.074%201.232-1.483zM16%2015h1v2h-1c-1.773%200-3.242-1.084-4.32-2.147.416-.494%201.233-1.5%201.233-1.5C13.71%2014.182%2014.883%2015%2016%2015zm1%204v-6l4%203-4%203zm0-8V5l4%203-4%203z"%20fill%3D"%23828A99"%2F><%2Fg><%2Fsvg>');
}
#shuffle.active > .icon {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg%20width%3D"24"%20height%3D"24"%20viewBox%3D"627%200%2024%2024"%20xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg"><g%20fill%3D"none"%20fill-rule%3D"evenodd"%20transform%3D"translate(627)"><path%20d%3D"M16%207c-2.94%200-4.4%202.3-5.87%204.25-1.3%201.7-2.38%203.7-4.13%203.75H3v2h3c2.93%200%204.24-2.6%205.7-4.53C13%2010.73%2014.16%209%2016%209h1V7h-1zM9.94%208.84c-.52-.46-1.38-1.1-2.04-1.38C7.26%207.16%206.5%207%205.67%207H3v2h3c.44%200%20.8.08%201.14.22.45.2%201.14.7%201.58%201.1l1.23-1.48zM16%2015h1v2h-1c-1.77%200-3.24-1.08-4.32-2.15l1.23-1.5c.8.83%201.98%201.65%203.1%201.65zm1%204v-6l4%203-4%203zm0-8V5l4%203-4%203z"%20fill%3D"%23356CA9"%2F><%2Fg><%2Fsvg>');
  opacity: 0.8;
}
#settings > .icon{
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSI0IiB2aWV3Qm94PSIwIDAgMTggNCI+CiAgPHBhdGggZmlsbD0iIzgyOEE5OSIgZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTQsMTggQzE1LjEwNDU2OTUsMTggMTYsMTcuMTA0NTY5NSAxNiwxNiBDMTYsMTQuODk1NDMwNSAxNS4xMDQ1Njk1LDE0IDE0LDE0IEMxMi44OTU0MzA1LDE0IDEyLDE0Ljg5NTQzMDUgMTIsMTYgQzEyLDE3LjEwNDU2OTUgMTIuODk1NDMwNSwxOCAxNCwxOCBaIE0yMSwxOCBDMjIuMTA0NTY5NSwxOCAyMywxNy4xMDQ1Njk1IDIzLDE2IEMyMywxNC44OTU0MzA1IDIyLjEwNDU2OTUsMTQgMjEsMTQgQzE5Ljg5NTQzMDUsMTQgMTksMTQuODk1NDMwNSAxOSwxNiBDMTksMTcuMTA0NTY5NSAxOS44OTU0MzA1LDE4IDIxLDE4IFogTTI4LDE4IEMyOS4xMDQ1Njk1LDE4IDMwLDE3LjEwNDU2OTUgMzAsMTYgQzMwLDE0Ljg5NTQzMDUgMjkuMTA0NTY5NSwxNCAyOCwxNCBDMjYuODk1NDMwNSwxNCAyNiwxNC44OTU0MzA1IDI2LDE2IEMyNiwxNy4xMDQ1Njk1IDI2Ljg5NTQzMDUsMTggMjgsMTggWiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEyIC0xNCkiIC8+Cjwvc3ZnPgo=')
}
.time > strong {
  float: right;
  font-weight: 100 !important;
}
.dot {
  height: 8px;
  width: 8px;
  float: right;
  margin-top: -3px;
  border-radius: 50%;
  background: #577ca1;
  transform: translateX(4px) scale(0);
  transition: 0.2s;
}
.scrubber:hover > .progress > .dot {
  transform: translateX(4.5px) scale(1);
}
#popover{
  right: 14px;
  display: none;
  top: 14px;
  padding: 6px 0;
  border: 1px solid #d9dfe6;
  box-shadow: 0 1px 3px rgba(0,0,0,.09);
  background: #fff;
  border-radius: 3px;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  z-index: 100;
}
.popover-item{
  padding: 7px 1pc 7px 20px;
  font-size: 14px;
  line-height: 100%;
  color: #2e3b46;
  white-space: nowrap;
  max-width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#settings:focus > #popover{
  display: block;
}
.popover-item:hover{
  background-color: #658bb3;
  color: #fff;
  cursor: pointer;
}
#message{
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 200;
}
#message .bg{
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.2);
}
#message .message {
  padding: 38px;
  background-color: white;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.button-cont{
  display: flex;
  align-items: center;
}
.button-cont .button{
  padding: 0 1.4pc;
}
.button-clear{
  margin-right: 20px;
  font-size: 14px;
  color: #455e77;
  padding: 0 15px;
  cursor: pointer;
}
.message p {
  margin-top: 0;
  color: #3a3a3a;
}